[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/KernelSU-Next/KernelSU-Next.git
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/Bryxian/kernel_packaging_anykernel3.git
